In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

# Read Data

In [2]:
df = pd.read_csv("./data/gene.csv")

In [3]:
df.head(1)

    ID      Lat    Long       PC1       PC2       PC3
0  177  47.7467  22.395  0.084596  0.016137 -0.002566

In [17]:
df = df[: int(20)]

In [18]:
df

      ID        Lat       Long       PC1       PC2       PC3
0    177  47.746700  22.395000  0.084596  0.016137 -0.002566
1   1074  50.145766  14.221421  0.060313  0.063142  0.008640
2   1197  41.361600   1.669400  0.022832  0.028759  0.016147
3    472  36.445000  -6.210000  0.057355  0.050147  0.003110
4    629  65.600000 -20.166667 -0.017448  0.010067  0.013056
5    106  41.828485  12.546967  0.038897 -0.039771 -0.019827
6   2382  35.080000  25.830000  0.080672 -0.025957 -0.013669
7    389  40.250000  44.100000  0.024566 -0.069840 -0.039418
8    265  39.810000   8.840000  0.056301 -0.008702 -0.015239
9   1469  45.488546  16.369357  0.034597 -0.035466 -0.016962
10   740  50.780830   5.464720 -0.023440  0.008941  0.016446
11   806  53.919396  -0.766635 -0.022155  0.012916  0.016100
12  1541  63.580000  27.030000 -0.040038  0.005484  0.021701
13  2140  42.322944  -2.412120  0.023849  0.033619  0.015263
14  1590  53.235833  -1.736944 -0.030136  0.009382  0.016185
15  1756  50.054385  14.363387 -0.039006  0.002471  0.008612
16  2249  60.290000  10.630000 -0.030507  0.008555  0.014346
17  1767  53.916717  -0.666972 -0.028017  0.009717  0.017486
18  2242  48.412856  18.074594 -0.019918  0.012712  0.008282
19   236  49.971784  35.392952 -0.067971 -0.044836  0.013808

In [4]:
df.dtypes

ID        int64
Lat     float64
Long    float64
PC1     float64
PC2     float64
PC3     float64
dtype: object

# KMeans

In [19]:
def get_labels(data_pc):
    model = KMeans(n_clusters=2, n_init=5)
    model.fit(data_pc)
    return np.array(model.labels_)

In [81]:
res = dict()
tails = set()

def hcd(df):
    global id
    if len(df) > 1:
        labels = get_labels(df[["PC1", "PC2", "PC3"]])

        one = df[labels == 1]
        zero = df[labels == 0]

        if len(res.keys()) != 0:
            id += 1

        res[id] = zero.ID.values.tolist()
        id += 1
        res[id] = one.ID.values.tolist()
        # print(id + 1)
        # print(id)
        # print("--------")

        hcd(zero)
        hcd(one)
    else:
        print(res)
        tails.add(list(res.keys())[-1])

In [82]:
id = 0
hcd(df)

{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140], 30: [2382, 265], 31: [106, 389, 1469], 32: [2382], 33: [265]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140], 30: [2382, 265], 31: [106, 389, 1469], 32: [2382], 33: [265]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140], 30: [2382, 265], 31: [106, 389, 1469], 32: [2382], 33: [265], 34: [106, 1469], 35: [389], 36: [106], 37: [1469]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140], 30: [2382, 265], 31: [106, 389, 1469], 32: [2382], 33: [265], 34: [106, 1469], 35: [389], 36: [106], 37: [1469]}
{0: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236], 1: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140], 2: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242], 3: [236], 4: [629, 740, 806, 1590, 2249, 1767, 2242], 5: [1541, 1756], 6: [740, 1590, 2249, 1767], 7: [629, 806, 2242], 8: [1590, 2249, 1767], 9: [740], 10: [1590, 2249], 11: [1767], 12: [1590], 13: [2249], 14: [629, 2242], 15: [806], 16: [2242], 17: [629], 18: [1541], 19: [1756], 20: [177, 1074, 1197, 472, 2140], 21: [106, 2382, 389, 265, 1469], 22: [177, 1074, 472], 23: [1197, 2140], 24: [177], 25: [1074, 472], 26: [472], 27: [1074], 28: [1197], 29: [2140], 30: [2382, 265], 31: [106, 389, 1469], 32: [2382], 33: [265], 34: [106, 1469], 35: [389], 36: [106], 37: [1469]}

In [80]:
tails

{7, 11, 13, 17, 19, 29, 31, 33, 35, 37}

In [70]:
res

{0: [177, 1074, 1197, 472, 106, 2382, 389, 265, 1469, 2140],
 1: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242, 236],
 2: [106, 2382, 389, 265, 1469],
 3: [177, 1074, 1197, 472, 2140],
 4: [2382, 265],
 5: [106, 389, 1469],
 6: [2382],
 7: [265],
 8: [106, 1469],
 9: [389],
 10: [1469],
 11: [106],
 12: [177, 1074, 472],
 13: [1197, 2140],
 14: [1074, 472],
 15: [177],
 16: [1074],
 17: [472],
 18: [2140],
 19: [1197],
 20: [629, 740, 806, 1541, 1590, 1756, 2249, 1767, 2242],
 21: [236],
 22: [629, 740, 806, 1590, 2249, 1767, 2242],
 23: [1541, 1756],
 24: [629, 740, 806, 2242],
 25: [1590, 2249, 1767],
 26: [629, 2242],
 27: [740, 806],
 28: [629],
 29: [2242],
 30: [806],
 31: [740],
 32: [1767],
 33: [1590, 2249],
 34: [2249],
 35: [1590],
 36: [1756],
 37: [1541]}

In [ ]:
res[0]

In [36]:
res[1]

[177, 1074, 1197, 472, 2140]

In [9]:
for ID, lat, long in df[["ID", "Lat", "Long"]].values:
    print(ID, lat, long)
    break

177.0 47.7467 22.395

In [10]:
df

        ID        Lat       Long       PC1       PC2       PC3
0      177  47.746700  22.395000  0.084596  0.016137 -0.002566
1     1074  50.145766  14.221421  0.060313  0.063142  0.008640
2     1197  41.361600   1.669400  0.022832  0.028759  0.016147
3      472  36.445000  -6.210000  0.057355  0.050147  0.003110
4      629  65.600000 -20.166667 -0.017448  0.010067  0.013056
...    ...        ...        ...       ...       ...       ...
1995  2103  41.747882  12.259475  0.017049  0.024686  0.015659
1996   667  43.480000  11.120000  0.027128 -0.015420 -0.004367
1997  1616  41.734986  14.034655  0.033546  0.009917  0.006641
1998  1979  54.530000  -2.160000 -0.024446  0.007354  0.021144
1999   218  50.579230   5.118983  0.011027  0.093632 -0.006327

[2000 rows x 6 columns]