In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

# Read Data

In [2]:
df = pd.read_csv("./data/gene.csv")

In [3]:
df.head(1)

    ID      Lat    Long       PC1       PC2       PC3
0  177  47.7467  22.395  0.084596  0.016137 -0.002566

In [4]:
df.dtypes

ID        int64
Lat     float64
Long    float64
PC1     float64
PC2     float64
PC3     float64
dtype: object

# KMeans

In [5]:
def get_labels(data_pc):
    model = KMeans(n_clusters=2, n_init=5)
    model.fit(data_pc)
    return np.array(model.labels_)

In [6]:
res = dict()

def hcd(df, id):
    if len(df) > 1:
        labels = get_labels(df[["PC1", "PC2", "PC3"]])
        one = df[labels == 1]
        zero = df[labels == 0]
        res[id] = zero.ID.values.tolist()
        res[id+1] = one.ID.values.tolist()
        hcd(one, id+2)
        hcd(one, id+2)

In [7]:
hcd(df, 0)

In [8]:
res.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27])

In [9]:
for ID, lat, long in df[["ID", "Lat", "Long"]].values:
    print(ID, lat, long)
    break

177.0 47.7467 22.395

In [10]:
df

        ID        Lat       Long       PC1       PC2       PC3
0      177  47.746700  22.395000  0.084596  0.016137 -0.002566
1     1074  50.145766  14.221421  0.060313  0.063142  0.008640
2     1197  41.361600   1.669400  0.022832  0.028759  0.016147
3      472  36.445000  -6.210000  0.057355  0.050147  0.003110
4      629  65.600000 -20.166667 -0.017448  0.010067  0.013056
...    ...        ...        ...       ...       ...       ...
1995  2103  41.747882  12.259475  0.017049  0.024686  0.015659
1996   667  43.480000  11.120000  0.027128 -0.015420 -0.004367
1997  1616  41.734986  14.034655  0.033546  0.009917  0.006641
1998  1979  54.530000  -2.160000 -0.024446  0.007354  0.021144
1999   218  50.579230   5.118983  0.011027  0.093632 -0.006327

[2000 rows x 6 columns]